.chatbot {
					position : fixed;
					bottom : 5%;
					right : 5%;
				}
				#divchat {
					position: fixed;
    				bottom : 19%;
    				right : 5%;
    				height : 55%;
    				width : 22.5%;
    				background-color : white;
    				border-radius : 15px;
    				overflow-y : scroll;
    			}
				#query {
					width : 70%;
					float : left;
					padding : 5px;
    			}
    			#btnsub {
					float : right;
    			}
    			#element {
    				position : fixed;
					bottom : 13%;
					right : 5%;
    			}
    			#msg_server {
					border-radius : 7px;
					border-style : solid;
					border-width : 1px;
					background-color : white;
					width : 80%;
					margin : 5px;
					box-shadow: 3px 3px #ADA7A6;
					float : left;
    			}
    			#client {
					border-radius : 7px;
					border-style : solid;
					border-width : 1px;
					background-color : blue;
					width : 80%;
					margin : 9px;
					color : white;
					box-shadow: 3px 3px #ADA7A6;
					float : right;
    			}